################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OSBuildingsDemo/v15/.suo
/OSBuildingsDemo/bin/Debug
/OSBuildingsDemoRunner/bin/Debug
/packages/Huitian.EGIS.ShapeFileLib.4.5.6/content
/packages
/OSBuildingsDemo.v3.ncrunchsolution.user
/OSBuildingsDemo/obj/Debug
/OSBuildingsDemo/geomutil_libx64.dll
/OSBuildingsDemo/geomutil_lib.dll
/OSBuildingsDemoRunner/obj/Debug
